body {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: BentonSans, 'Open Sans', sans-serif;
}

.parentDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.aggregate{
    background-color: aquamarine;
    width: 80%;
    height: 30vh;
    overflow: scroll;
}

.c_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: inherit;
    height: 50px;
    background-color: brown;
    border: 2px;
    border-color: blueviolet
}

.c_column0{
    width: 15%;
    height: inherit;
    background-color: blue;
    border: 2px;
    border-color: beige
}

.c_column1{
    width: 35%;
    height: inherit;
    background-color: white;
    border: 2px;
    border-color: beige
}

.c_column2{
    width: 15%;
    height: inherit;
    background-color: chartreuse;
    border: 2px;
    border-color: beige
}

.c_column3{
    width: 15%;
    height: inherit;
    background-color: coral;
    border: 2px;
    border-color: beige
}

.c_column4{
    width: 20%;
    height: inherit;
    background-color: darkkhaki;
    border: 2px;
    border-color: beige
}


.box{
    width: 80%;
    height: 30vh;
    overflow: scroll;
}

.ideaDiv{
    /*color:blue;*/
    color: #545454;
    margin: 0 auto;
}
.ideaDiv h1{
    font-weight: 700;
    color: #000;
    font-size: 24px;
}


.taskDiv{
    color:green;
    margin: 0 auto;
}

.taskDiv h2{
    font-weight: 700;
    color: #000;
    font-size: 16px;
}

.questionDiv{
    color:red;
    margin-left: 20px
}

.commentDiv{
    /*color:black;*/
    color:#333;
    margin-left: 25px;
    font-family: Open Sans,sans-serif;

    Background: #fff;
    padding: 5px;
    display: block; overflow: hidden;
    border-top:2px solid white;
    border-bottom: 1px solid #e2e2e2;

}
.comment-author {
    /*float: left;*/
    /*width: 60px;*/
    /*height: 60px;*/
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin: 0 10px 10px 0;
}
.btn .btn-warning .ideaButton{
    width: inherit;
    height: inherit;
}